.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 캘린더의 기본 스타일 수정 */
.rbc-calendar {
  border-radius: 15px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.rbc-month-view {
  border-collapse: separate;
}

.rbc-day-bg,
.rbc-date-cell,
.rbc-header,
.rbc-row {
  border-radius: 15px;
  overflow: hidden;
}

.rbc-day-bg,
.rbc-date-cell {
  border: none;
  border-radius: 15px;
}

.rbc-date-cell {
  padding: 5px;
  position: relative;
}

.rbc-date-cell .rbc-day-number {
  font-size: 1.5em; /* 날짜 숫자를 크게 설정 */
  position: absolute;
  top: 5px;
  right: 5px;
}

.rbc-event {
  border-radius: 10px;
  padding: 2px 5px;
  background-color: #3174ad;
  color: white;
}

.rbc-selected-cell {
  background-color: rgba(49, 116, 173, 0.3); /* 예약된 날짜를 하이라이트 */
}
